<%= form_for @list do |f|%>
  <%=f.text_field :name %>
  <%= f.submit %>
<% end %>

<!-- <form class="" action="index.html" method="post">
 <input type="text" name="name">
 <input type="submit" name="Submit" value="">
</form> -->
