<header id="first">
    <div class="header-content">
      <div class="inner">
        <h1 class="cursive">Agora</h1>
        <h4>Find Your Dream Apartment</h4>
        <form  action="/apartments" method="get">
          <input type="text" name="location" placeholder="Enter Borough" value= "<%=@location if @location%>">
        </form>
        <form class="" action="/users" method="get">
          <input type="hidden" name="location" value="<%=fetch_location%>">
          <button class="w3-btn w3-purple w3-small" type="submit" name="button">Current Location</button>
        </form>
      </div>
    </div>
</header>
 <!-- Background Video  -->
 <video autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
   <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
 </video>
<style>
  input[type=text] {
      width: 200px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: black;
      background-image: url('searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
  }
  input[type=text]:focus {
      width: 100%;
  }
</style>
