

<section id="three" class="no-padding">
 <div class="container-fluid">
     <div class="row no-gutter">
       <%@ary.each do |apartment| %>
         <% if apartment.links != 'favoriteIcon neutral'%>
           <div class="col-lg-4 col-sm-6">
             <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="<%=apartment.pictures%>">
               <div class="image">
                 <img src="<%=apartment.pictures%>" class="img-responsive" alt="Image 1">
                   <a href="<%=apartment_path(apartment)%>"><h2><%= apartment.price_range%></h2></a>
               </div>
             </a>
           </div>
         <%end%>
       <%end%>
     </div>
   </div>
</section>
